body
{
    background-color: #1a1a1a;
    padding: 30px;
    text-align: center;
}
table, th, td 
{ 
    border:5px solid black; 
    width: 100%;
    overflow-x: auto;
    align-self: center;
    text-align: left;
    padding: 10px;
    border-collapse: collapse;
}
.whiteborder
{
    border: 5px solid whitesmoke;
    padding: 10px;
}
li, ul, ol
{
    text-align: center;
    color:whitesmoke;
    font-size: 18px;
}
div 
{
    text-align: center;
    padding: 10px;
}
h1
{
    color: whitesmoke;
    font-size: 75px;
}
h2
{
    color: whitesmoke;
    font-size: 50px;
}
h3
{
    color: whitesmoke;
    font-size: 30px;
} 
p
{
    color: whitesmoke;
    font-size: 18px;
}
#pagetitle
{
    font-size: 100px;
}
#subtitle
{
    font-size: 25px;
}
#tiny
{
    font-size: 12px;
}
img
{
    width: 100%;
    height: auto;
}
#icon
{
    width: 5%;
    height: auto;
}
.table-responsive {
    width: 100%;
    overflow-x: auto;
}