body
{
    background-color: #1a1a1a;
    padding: 10px;
}
table, th, td 
{ 
    border:5px solid black; 
    width: 100%;
    overflow-x: auto;
    align-self: center;
    text-align: left;
    padding: 10px;
    border-collapse: collapse;
}
.whiteborder
{
    border: 5px solid whitesmoke;
    padding: 10px;
}
li, ul, ol
{
    color:whitesmoke;
    font-size: 18px;
    text-shadow: 2px 5px 5px black;
}
div 
{
    padding: 10px;
}
.aboutme
{
    background-image: url(../media/Jump.jpg);
    background-position: 60% 40%;
    background-size: 99%;
    background-repeat: no-repeat;
}
.indiv
{
    background-image: url(../media/indivgame.png);
    background-position: 60% 40%;
    background-size: 200%;
    background-repeat: no-repeat;
}
.comic
{
    background-image: url(../media/comicpanel.png);
    background-position: 55% 40%;
    background-size: 200%;
    background-repeat: no-repeat;
}
.arproj
{
    background-image: url(../media/CastleFinalBricks.png);
    background-position: 50% 20%;
    background-size: 200%;
    background-repeat: no-repeat;
}
.nopad
{
    padding: 0px;
}
h1
{
    font-family: fantasy;
    color: whitesmoke;
    font-size: 75px;
    text-align: center;
}
h2
{
    font-family: fantasy;
    color: whitesmoke;
    font-size: 50px;
    text-align: center;
}
h3
{
    font-family: fantasy;
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
}
#small
{
    font-size: 25px;
}
#left
{
    text-align: left;
}
p
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    font-size: 18px;
    text-shadow: 2px 5px 5px black;
}
.center
{
    text-align: center;
}
#pagetitle
{
    font-size: 9vw;
}
#subtitle
{
    font-family: fantasy;
    font-size: 25px;
}
#tiny
{
    font-size: 12px;
}
img
{
    width: 100%;
    height: auto;
}
#icon
{
    width: 5%;
    height: auto;
}
.table-responsive {
    width: 100%;
    overflow-x: auto;
}
.fluid
{
    position: relative;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    max-width: 100%;
}
.centered
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    Left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 100%;
    padding: 10px;
}
.whiteicon
{
    color: #ededed;
}