body
{
    background-color: #1a1a1a;
}
table, th, td 
{ 
    border:5px solid black; 
    width: 100%;
    overflow-x: auto;
    align-self: center;
    text-align: left;
    padding: 10px;
    border-collapse: collapse;
}
.whiteborder
{
    border: 5px solid whitesmoke;
    padding: 10px;
}
li, ul, ol
{
    color:whitesmoke;
    font-size: 18px;
    text-shadow: 2px 5px 5px black;
}
div 
{
    padding: 10px;
    margin: auto;  
}
.aboutme
{
    background-image: url(../media/Jump.jpg);
    background-position: 60% 40%;
    background-size: 99%;
    background-repeat: no-repeat;
}
.indiv
{
    background-image: url(../media/indivgame.png);
    background-position: 60% 40%;
    background-size: 200%;
    background-repeat: no-repeat;
}
.comic
{
    background-image: url(../media/comicpanel.png);
    background-position: 55% 40%;
    background-size: 200%;
    background-repeat: no-repeat;
}
.arproj
{
    background-image: url(../media/CastleFinalBricks.png);
    background-position: 50% 20%;
    background-size: 200%;
    background-repeat: no-repeat;
}
.nopad
{
    padding: 0px;
}
h1
{
    font-family: fantasy;
    color: whitesmoke;
    font-size: 75px;
}
h2
{
    font-family: fantasy;
    color: whitesmoke;
    font-size: 50px;
}
h3
{
    font-family: fantasy;
    color: whitesmoke;
    font-size: 30px;
}
#small
{
    font-size: 25px;
}
#left
{
    text-align: left;
}
p
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    font-size: 18px;
}
.center
{
    text-align: center;
}
#pagetitle
{
    font-size: 9vw;
}
#subtitle
{
    font-family: fantasy;
    font-size: 25px;
}
#tiny
{
    font-size: 12px;
}
img
{
    width: 100%;
    height: auto;
}
.table-responsive {
    width: 100%;
    overflow-x: auto;
}
.fluid
{
    position: relative;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    max-width: 100%;
}
.centered
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    Left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 100%;
    padding: 10px;
}
.whiteicon
{
    color: #ededed;
}


.headersticky
{
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #1a1a1a;
    color: whitesmoke;
    font-size: 20px;
    font-family: fantasy;
    z-index: 1000;
}
.bodydiv {
    max-width: 60%;
    margin: auto;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.card {
    background-color: #353535;
    outline-color: whitesmoke;
    outline-style: solid;
    outline-width: 2px;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    opacity: 0.7;
}
.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transform: scale(1.05);
    transition: 0.2s;
}
.container {
    padding: 2px 16px;
}
.badgelist {
    text-align: center;
}
.badge {
    display: inline-block;
    outline-color: whitesmoke;
    outline-style: solid;
    outline-width: 2px;
    border-radius: 2px;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 12px;
    color: #ededed;
    font-size: 18px;
}
.cardimg {
    width: 100%;
    height: auto;
    border-radius: 1px 1px 0 0;
}
.cardLink {
    text-decoration: none;
    font-size: 18px;
}

.projinfo {
    position: relative;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgb(0, 0, 0, 0.5);
    width: 100%;
    color: whitesmoke;
    font-size: 20px;
    text-align: left;
    padding: 10px;
}
.bio {
    font-size: 24px;
}

.headerdiv {
    max-width: 60%;
    margin: auto;
}

.header {
    overflow: hidden;
    background-color: #1a1a1a;
    padding: 20px 10px;
    z-index: 1000;
    position: sticky;
    top: 0;
}

.header a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 20px 12px;
    text-decoration: none;
    line-height: 40px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 50px;
    padding: 10px;
    font-family: fantasy;
}

.header a:hover {
    background-color: dodgerblue;
    color: whitesmoke;
}

.header a.active {
    background-color: steelblue;
    color: whitesmoke;
}

.header-right {
    float: right;
}
.header-left {
    float: left;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}
.node:hover{
    stroke-width: 7px !important;
    opacity: 1 !important;
}